<% content_for :title, @user.username %>

<div class="row mt-5">

  <div class="col-md-auto d-flex flex-md-column mb-4">
    <%= image_tag user_avatar(@user, 200), size: 200, alt: @user.username, class: "rounded-circle me-4 me-md-0" %>
    <div class="user_show_text">
      <h2 class="mt-4 text-wrap"><%= @user.username %></h2>
      <p class="mt-3 text-wrap"><%= @user.bio %></p>
      <% if user_signed_in? && current_user.email == @user.email %>
        <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-secondary w-100 text-center mt-3" %>
      <% end %>
    </div>
  </div>

  <div class="col-md">
    <%= render layout: "shared/machine_list", locals: {machines: @machines} do %>
      <p class="text-center">This user has no machines added</p>
    <% end %>
  </div>
</div>
